*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

body {
  font-family: "Nunito", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 1.6; 
}

}

    img{
        max-width: 100%;
        max-height: 100%;
        display: block; 
    }

.container {
  width: 800px;
  margin: auto;

  }

.header {
  background-color: Black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 38px;
  text-align: center;
}

.vitheader {
  color: white;
}

.meny {
  background-color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 16px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #111;
  }

.bodycontent {
  background-color:black;
  color: white;
  padding: 20px;
 
}



.box2 {
	width: 100%;
	height: 150px;
}

.container2 {
	width: 100%;
	margin: 2rem auto; 
	background-color: black;
  }
  
  .gallery {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 5vw);
	grid-gap: 1.5rem; 
  }
  
  .gallery__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block; 
  }



.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}


.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}



.footer {
  background-color: #392714;
  text-align: center;
  color: white;
  padding: 20px;
}
